.search-form-title-section {
    height: 55px;
    background-color: black;
    color: #E7DB6F !important;
    border-bottom: gray 1px solid;
    margin-bottom: 35px;
    text-align: center;
}

.search-form-label-title {
    margin-top: 15px;
    font-size: 17px;
}
.SearchTextBoxDesign{
    width: 60%;
    outline: none;
    border: 1px solid #b3b3b3;
    border-radius: 20px !important;
    /* margin-bottom: 20px; */
    padding: 5px;
}
.search-form-submit-button {
    width: 20%;
    height: 45px;
    border: 1px solid lightgray;
    margin-top: 0px;
    margin-bottom: 20px;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    cursor: pointer;
    background-color: #E7DB6F;
    color: black;
    font-size: 15px;
}

.search-form-submit-button:focus {
    outline: none;
}
.search-result-div{
    text-align: center !important;
}
.search-result-item{
    margin-left: 25%;
    margin-right: 25%;
    padding: 10px;
    border-bottom: #E7DB6F 1px solid;
}